<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LogConfiguration" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <LogConfiguration>
    <appender name="DebugServiceAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\Debug\Debug-Log.log" />
      <Threshold value="DEBUG" />
      <appendToFile value="true" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Composite" />
      <datePattern value=" yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="250MB" />
      <layout type="log4net.Layout.PatternLayout" name="DEBUGLogFileAppender">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fffffff} %level [%property{pid}:%class:%method:%line] - %message%newline" />
      </layout>
    </appender>
    <appender name="GeneralServiceAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\Info\Info-Log.log" />
      <Threshold value="Info" />
      <appendToFile value="false" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Composite" />
      <datePattern value=" yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="250MB" />
      <layout type="log4net.Layout.PatternLayout" name="GeneralLogFileAppender">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fffffff} %level [%class:%method] - %message%newline" />
      </layout>
    </appender>
    <logger name="LogUtil1">
      <!--<level value="INFO" />
			<appender-ref ref="GeneralServiceAppender" />-->
      <level value="Debug" />
      <appender-ref ref="DebugServiceAppender" />
    </logger>
    <logger name="LogUtil">
      <level value="INFO" />
      <appender-ref ref="GeneralServiceAppender" />
      <!--<level value="Debug"/>
      <appender-ref ref="DebugServiceAppender"/>-->
    </logger>
  </LogConfiguration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>